<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="LogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="/tmp/file.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<root>
		<level value="TRACE" />
		<appender-ref ref="Console" />
		<appender-ref ref="LogFile" />
	</root>

	<logger name="SampleTest" additivity="true" >
		<level value="TRACE" />
		<appender-ref ref="LogFile" />
	</logger>

	<logger name="com.truckonline" additivity="true" >
		<level value="TRACE" />
		<appender-ref ref="LogFile" />
	</logger>

	<logger name="SampleTest.class" additivity="true" >
		<level value="TRACE" />
		<appender-ref ref="LogFile" />
	</logger>


</log4j:configuration>